<div class="project"><h2><!--<span class="strikethrough"></span>--><span class="title"><strong>%Name%</strong></span>
<span class="target disabled"><!--<span class="strikethrough"></span>--><strong>%Duration%</strong></span>
<span class="status %color%"><!--<span class="strikethrough"></span>--><strong>%StatusName%</strong></span>
</h2>
<p class="info"><span class="label">Info:</span>%Description%</p>
<p class="crew"><span class="label">Crew:</span>%Workers%</p>
<p class="eta"><span class="label">Status:</span>%Status%</p>
</div>
